# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BattleTank.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnrealProjects\BattleTank\.idea\.idea.BattleTank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
